<!DOCTYPE html>
<html xmlns:th="http://www.typeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>회원가입</title>
</head>
<body>
<div>

    <form th:action="@{/registerProcessing}" th:object="${user}" method="post">
        <h2>회원가입</h2>

        <!-- 강의를 간결하게 끝내기 위함.. 원래는 가입실패 여부를 자세히 표시해야한다 -->
        <div th:if="${param.error}">
            계정이 중복됩니다.
        </div>

        <input type="text" name="email" th:field="*{email}" placeholder="이메일" required="required"/>
        <input type="password" name="password" th:field="*{password}" placeholder="암호" required="required"/>
        <input type="text" name="name" th:field="*{name}" placeholder="이름" required="required"/>
        <input type="radio" name="userType" th:field="*{userType}" placeholder="직업" value="normal" required="required">일반인</input>
        <input type="radio" name="userType" th:field="*{userType}" placeholder="직업" value="student" required="required">학생</input>
        <input type="radio" name="userType" th:field="*{userType}" placeholder="직업" value="entrepreneur" required="required">기업인</input>
        <input type="submit" value="회원가입"/>
    </form>

</div>
</body>
</html>